h1 {
  color: tomato;
}

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: tomato;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.chatbar span {
  background-color: white;
  height: 1.1em;
  margin: 15px 0px;
  width: max-content + 5px;
  padding: 3px;
  border: 1px black solid;
  border-radius: 13px;
}

.message {
  display: flex;
  padding: 5px;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 10px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
  background-color: transparent;
  border: none;
}

.message-username {
  overflow: hidden;
  margin: -5px -5px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: lightgreen;
}

.message-content {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: tomato;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.users-online {
  float: right;
  display: block;
  margin-top: 35px;
  width: 105px;
  padding: 0px auto;
  height: 1.5 em;
  background-color: white;
}